* {
    color: aliceblue;
    background-color: black;

}

html {
    --default-opacity: 0.2;
    --hover-opacity: 0.4;
}

body {}

body::-webkit-scrollbar {
    display: none;


}

a {
    text-decoration: none;
    color: inherit;
}

.color {
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(102, 0, 235, 0.377), #0000);
    position: absolute;
    top: -570px;
    left: 15%;

    z-index: -1;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    /* margin-top: 20px; */
    padding: 42px 62px;
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

@keyframes fade-down {

    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.7);
        /* transform: translateZ(-50px) scale(2.3); */
    }

    100% {
        opacity: 1;
        /* transform: translateY(0px) scale(1); */
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateZ(-40px) scale(0.7);
    }

    100% {
        opacity: 1;
        transform: translateZ(0px) scale(1);
    }
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-left: 30px; */
    animation: fade-down 1s 0.7s backwards;
}

.btn {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    /* word-spacing: 5px; */
    background-color: beige;
    color: black;
    padding: 10px 20px;
    border-radius: 5000px;
    transition: all 0.3s;
}

.btn--contact {
    z-index: 1;
    transition: 1s;
    animation: fade-down 2s 0.7s backwards;
    margin-right: 0px;
    /* color: #fff; */




}

.btn--download {
    z-index: 90;
    transition: 1s;
    animation: fade-down 2s 0.7s backwards;
    bottom: 20px;
    position: sticky;
    animation: fade-up 1s 1s backwards;

}

.cvStyle-btn {
    font-weight: 800;
    background-color: white;
    color: black;
}

.btn:hover {
    transform: scale(1.40);
}

.btn--contact:hover {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}

.btn--download:hover {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    text-transform: capitalize;
    background-color: rgba(69, 18, 134, 0.377);
    color: white;
    transition: 1s;
    /* animation: fade-up 1s 1s backwards; */
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    /* height: 800px; */
    margin-bottom: 100px;
    margin-top: -10px;
    font-family: 'Quicksand', sans-serif;

    padding: 0px 80px;

    text-align: center;
    background-image: radial-gradient(closest-side, rgba(91, 66, 124, 0.664), #0000);


}

.intro {
    padding: 105px;
    background-color: transparent;
    animation: fade-up 4s 0.7s forwards;
}

.first-heading {
    background-color: transparent;
    margin-bottom: 20px;
    letter-spacing: 3px;
    color: rgb(13, 204, 39);
    font-size: 49px;
    opacity: 0.9;
    font-weight: 400;
}

.text-heading {
    padding: 9px;
    opacity: 1.5;
    letter-spacing: 3px;
    word-spacing: 5px;
    border-radius: 7px;
    background-color: transparent;
    /* border: none; */
    /* text-transform: uppercase; */
    box-shadow: 10px 10px 40px 10px rgba(91, 66, 124, 0.664);
    line-height: 30px;
}

.text-heading strong {
    background-color: transparent;
    font-weight: 600px;
    font-size: 21px;
    line-height: 1.1;
}

.dev-role {
    /* text-decoration: ; */
}

.dev-name {
    color: rgb(13, 204, 39);
    background-color: transparent;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    color: rgb(198, 207, 195);
}


.work {
    margin-top: 2px;
    background-color: transparent;
    animation: fade-up 4s 0.7s forwards;
    padding: 0px 50px;
    z-index: 100;


}

.wrapper {
    width: 700px;
    margin: auto;
    /* background-color: transparent; */
    top: 500px;
    /* position: absolute; */
    /* left: 0px; */
    /* animation: mymove 3s 2s forwards; */
}

@keyframes mymove {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.bg_transparent {
    background-color: transparent;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    margin-bottom: 40px;
}

.second-heading {
    font-size: 18px;
    font-weight: 600px;
    background: none;
}

.filters {
    display: flex;
    column-gap: 40px;
    background-color: transparent;
}

.filter-item {
    justify-content: space-around;
    background-color: transparent;
}

.filter-item a {
    background-color: transparent;
}

.active {
    opacity: 1;
    transform: scale(1.2);
    background-color: black;

}

.filter-btn {
    font-weight: 800;
    letter-spacing: 1px;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1s;
}

.filter-btn a:hover {

    color: rgb(18, 189, 18);
}

.filter-btn:hover {
    opacity: 1;

}

.filter-btn--active {
    opacity: 1;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 333px 119px 325px;
    gap: 25px;
    background-color: transparent;
    position: relative;
    /* animation: fade-in 0.7s 0.3s forwards; */
    animation: fade-up 2s 0.2s forwards;

}

.grid-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.6s;
    transform: scale(1.08);
    /* border-radius: 12px; */
}

.project-info {
    opacity: 0;
    position: absolute;
    background-color: transparent;
    /* background-image: none; */
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
    width: 100%;
    color: rgb(13, 204, 39);
    z-index: 100;
    bottom: 0;
    text-align: center;
    padding: 27px;
    transform: translateY(10px);
    transition: all 0.6s;
    /* background: none; */
    /* margin-bottom: 10px; */
}

.project {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.7s;
}

.project:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;

}

.project:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.project:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/3;
    /* transform: translateX(-650); */
}

.project:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;

}

.project:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/4;
}

.project:nth-child(6) {
    grid-column: 3/4;
    grid-row: 3/4;
}

.project::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: black;
    /* opa */
    position: absolute;
    opacity: var(--default-opacity);
    /* z-index: 10; */
    transition: all 0.6s;
}

.fade {
    height: 1000px;
    width: 100%;
    bottom: 0;
    background-color: transparent;
    position: absolute;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
    pointer-events: none;
    transition: all .6s;

}



.project:hover::before {
    opacity: var(--hover-opacity);
    /* z-index: 1;  */
}

.project:hover .grid-img {
    filter: blur(1px);
    transform: scale(1.01);
    opacity: 0.8;
    /* background-image: linear-gradient(to top , rgb(0, 0, 0), transparent); */
}

.project:hover .project-info {
    opacity: 0.9;
    transform: translateY(0);
}

.third-heading {
    font-size: 16px;
    padding: 4px;
    /* text-transform: uppercase; */
    background: none;
}

.description {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0.7;
    background: none;
}

.technologies {
    background: none;
    font-size: 11px;
    display: flex;
    column-gap: 14px;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-wrap: wrap;
    padding: 7px;
    border-radius: 30%;
    justify-content: center;
    margin-bottom: 5px;
    line-height: 17px;
}

.copyright {
    color: white;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Pacifico', cursive;


}

.footer {
    /* margin-bottom: 200px; */
    margin-left: 300px;
    /* margin:  auto 200px; */
}

.matty {
    width: 600px;
}

.technology {
    /* background: none; */
}