<div class="content">
    <div class="row">

        <mat-card class="d-flex mat-elevation-z3" color="warn">
            <button mat-raised-button color="primary" class="mat-elevation-z19"> Work </button>
            <button mat-raised-button color="accent" class="mat-elevation-z11"> resume </button>
            <button mat-flat-button color="warn" class="mat-elevation-z24">Go to</button>
            <button mat-icon-button color="" class="ncolor1 mat-elevation-z24">
                <mat-icon style="font-size: 35px;">star</mat-icon>
            </button>
           

            <p>
                
                <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="primary">
                    Action
                </button>
            </p>
            <mat-button-toggle-group #group="matButtonToggleGroup" color="primary">

                <mat-button-toggle value="bold"><strong>Bold</strong></mat-button-toggle>
                <mat-button-toggle value="normal">usual</mat-button-toggle>
            </mat-button-toggle-group>
            {{group.value}}
            
            <mat-tab-group>
                <mat-tab label="First"> Content 1 </mat-tab>
                <mat-tab label="Second"> Content 2 </mat-tab>
                <mat-tab label="Third"> Content 3 </mat-tab>
              </mat-tab-group>
        </mat-card>
        <!-- <button mat-raised-button color="accent" class="mat-elevation-z11">Elevate </button> -->


    </div>
</div>